<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362134273858-k2n6k9piib08rbj1dbdq42mkqv1eopjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362134273858-k2n6k9piib08rbj1dbdq42mkqv1eopjr</string>
	<key>API_KEY</key>
	<string>AIzaSyAVM_JButS9t4BgEQ5mh95OT07uDvFHtx8</string>
	<key>GCM_SENDER_ID</key>
	<string>362134273858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.clement-clauzel</string>
	<key>PROJECT_ID</key>
	<string>instaclone-d23db</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-d23db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:362134273858:ios:4ec9b3dfb2251fcdc2d2db</string>
</dict>
</plist>
